{% extends "django_bcf_manager/index.html" %}

{% block content %}
    <div class="row">
        <div class="col-6"><h1>{{ topics.count }} Topics</h1></div>
        <div class="col-6">  {% include 'django_bcf_manager/addfilebloc.html' %}</div>
    </div>
    <table class=" table table-bordered table-striped table-responsive">
        <colgroup>
            <col class="col">
            <col class="col">
        </colgroup>
        {% for topic in topics %}
            <tr>
                <td>
                    <table class="table table-sm">
                        <tr>
                            <th>creation_date</th>
                            <th>creation_author</th>
                            <th>Title</th>
                            <th>status</th>
                            <th>assigned_to</th>
                            <th>due_date</th>
                            <th>modified_date</th>
                        </tr>
                        <tr>
                            <td>{{ topic.creation_date }}</td>
                            <td>{{ topic.creation_author }}</td>
                            <td>{{ topic.title }}</td>
                            <td>{{ topic.topic_status }}</td>
                            <td>{{ topic.assigned_to }}</td>
                            <td>{{ topic.due_date }}</td>
                            <td>{{ topic.modified_date }}</td>
                    </table>
                    <button class="btn btn-sm col-2  bg-light float-right text-center " data-toggle="collapse"
                            data-target="#topic-detail{{ topic.id }}">toggle detail
                    </button>
                    <table class="collapse table table-sm " id="topic-detail{{ topic.id }}">

                        {% for key, value in topic.attrs %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <div data-toggle="collapse" data-target="snapshot{{ topic.id }}">
                        <img style="display: block; max-height:78px; margin: auto"
                             src="/media/snapshots/{{ topic.guid }}/snapshot.png"/>
                        <button class="col-12 btn bg-light float-right text-center pointer" data-toggle="collapse"
                                data-target="#snapshot{{ topic.id }}">toggle full size
                        </button>
                    </div>
                    <div class="bg-light collapse screen_centered front bordered-5" id="snapshot{{ topic.id }}">
                        <button class="btn btn-secondary btn-sm float-right " data-toggle="collapse"
                                data-target="#snapshot{{ topic.id }}">Close
                        </button>
                        <img style=" max-width:100vh; max-height: 90vh"
                             src="/media/snapshots/{{ topic.guid }}/snapshot.png"/>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}