{% extends "django_bcf_manager/index.html" %}

{% block content %}
    <h1>Topic list </h1>
    <table class="table table-bordered table-striped table-responsive">
        <colgroup>
            <col class="col">
            <col class="col">
        </colgroup>
        <tr>
            <th>Topics</th>
            <th>img</th>
        </tr>
        {% for topic in topics %}
            <tr>
                <td>
                    <table class="table table-sm">
                        {% for key, value in topic.attrs  %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td><img style="width:300px" src="/media/snapshots/{{ topic.guid }}/snapshot.png"/></td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}